
:host {
    display: block;
}
table{
    border: 1px solid black;
}

.table-wrap {
    padding: 0 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    table{
        margin-top: 50px;
        tr{
            th{
                color: #0b48b1;
                height: 40px;
                padding-left: 30px;
            }
            td{
                color: black;
                height: 40px;
                padding-left: 30px;
                button{
                    color: red;
                    padding: 3px 10px;
                    border-color: red;
                    border: 1px solid;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
            &:nth-child(odd) {
                background-color: #cccccc;
            }
            &:nth-child(even) {
                background-color: white;
            }
        }
    }
}


.search-topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 0px;
    font-size: 17px;
    width: 700px;
}

.search-topnav button {
    height: 36px;
    background-color: #2E6EDE;
    color: white;
    padding: 10px 20px;
    margin: 15px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-add{
    height: 36px;
    background-color: #2E6EDE;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:30px 39px;
    float: right;
    &:hover {
        background-color: #154AA5;
    }
}

.search-topnav button:hover {
    background-color: #154AA5;
}
.search-topnav{
    float: right;
    margin-right: 39px;
}
.pupup {
    position: fixed;
    top: 40%;
    left: 50%;
    padding: 50px 100px;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px gray;
    background-color: rgb(141, 141, 141);
    transform: translate(-50%, -50%);
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 60px;
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        cursor: pointer;
    }
    .inp-group {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        .inp {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 20px;
        }
    }
    .update-btn {
        padding: 7px 16px;
        background-color: #2E6EDE;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            background-color: #154AA5;
        }
    }
    input {
        padding-left: 20px;
    }
}