
<div class="search-topnav">
    <input type="text"  placeholder="Search by Poster.." [(ngModel)]="searchValue"/>
    <button (click)="somethingChanged()">Search</button>

</div>

<div class="table-wrap">

    <table>
        <tr><td *ngFor="let header of headers">{{header}}</td></tr>
        <tr *ngFor="let row of body; index as i">
            <td>{{i + 1}}</td>
            <td><button (click)="onDeleteItem(row, i)">Delete</button></td>
            <td>{{row.time}}</td>
            <td>{{row.reporter}}</td>
            <td>{{row.poster}}</td>
            <td>{{row.content}}</td>
            <td><button (click)="openEditPopup(row, i)">edit</button></td>
        </tr>
    </table>
</div>
<button class="btn-add" (click)="openAddPopup()">ADD</button>

<div *ngIf="popup" class="pupup">
    <div class="inp-group">
        <div class="inp"><label for="time">time</label><input [(ngModel)]="time" type="text" id="time"></div>

        <div class="inp"><label for="reporter">reporter</label><input [(ngModel)]="reporter" type="text" id="reporter"></div>

        <div class="inp"><label for="poster">poster</label><input [(ngModel)]="poster"  type="text" id="poster"></div>

        <div class="inp"><label for="content">content</label><input [(ngModel)]="content"  type="text" id="content"></div>
    </div>

    <button style="width: fit-content;" (click)="addAnItem()"> add </button>

</div>

<div *ngIf="update" class="pupup">
    <div class="inp-group">
        <div class="inp"><label for="time">time</label><input [(ngModel)]="timeUpate" type="text" id="time"></div>

        <div class="inp"><label for="reporter">reporter</label><input [(ngModel)]="reporterUpate" type="text" id="reporter"></div>

        <div class="inp"><label for="poster">poster</label><input [(ngModel)]="posterUpate"  type="text" id="poster"></div>

        <div class="inp"><label for="content">content</label><input [(ngModel)]="contentUpate"  type="text" id="content"></div>
    </div>

    <button style="width: fit-content;" (click)="updateAnItem()"> update </button>

</div>