<div>
    <form action="/action_page.php">
        <label>ID</label>
        <input type="text" id="" name="" placeholder="ID..">

        <label>User Name</label>
        <input type="text" id="" name="" placeholder="UserName..">

        <label>First Name</label>
        <input type="text" id="" name="" placeholder="FirstName..">

        <label>Email</label>
        <input type="text" id="" name="" placeholder="Email..">

        <label>Password</label>
        <input type="text" id="" name="" placeholder="Password..">

        <label>Phone</label>
        <input type="text" id="" name="" placeholder="Phone..">

        <label for="">User status</label>
        <select id="" name="">
        <option value="0">0</option>
        <option value="1">1</option>
      </select>
        <input type="submit" value="Create">
    </form>
</div>