/* Style the search box inside the navigation bar */

.search-topnav input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 0px;
    font-size: 17px;
}

.search-topnav input[type=submit] {
    height: 36px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-topnav input[type=submit]:hover {
    background-color: #334;
}